body {
    background-color: black;
}
h1 {
    color: rgb(255, 255, 0);
    text-align: center;
    border: 15px double skyblue;
}

h4 {
    color: rgb(130, 130, 13);
}

h {
    color: rgb(255, 255, 0);
}
h2{
    color: rgb(255, 255, 0);
    text-align: center;
    border: 5px dotted;
}