body{
    background-color: black;
}
h1 {
    color: rgb(123, 255, 0);
    text-align: center;
    border: 15px double skyblue;
}

h4 {
    color: rgb(88, 154, 26);
}

h {
    color: rgb(123, 255, 0);
}
h2{
    color: rgb(103, 235, 131);
    text-align: center;
    border: 5px dotted;
}