body {
    background-color: rgb(40, 202, 242);
}

img {
    display: block;
    margin: auto;
    height: 200;
    width: 500;

}

h1 {
    text-align: center;
    color: red;
    border: 10px double black;
}

h3 {
    text-align: center;
    color: red;
    border: 10px double black;
}

button {
    text-align: right;
    color: white;
    background-color: black;

}

div {
    color: red;
    border: 5px double black;
}